*{
    margin: 0;
    padding: 0;
    font-family:Verdana, Tahoma, sans-serif;
}
#main{
    margin: 0;
    padding: 0;
   
}
.container{
    width: 20cm;
    height: 250px; 
    margin-left: 1.5cm; 
}
.card{
    margin-left: 0;
    padding-left: 0;
    width: 20cm;
    height: 250px;
    border:  1px solid #111;
    border-radius: 10px;
}

.row{
    display: flex;
}
.col{
    margin-left: 0cm;
}
.col img{
    max-width: 400px;
    border-radius: 10px;
    max-height: 250px;
    padding-right: 1cm;
    
}
.coll{
    margin-left: 0cm;
   
}
.span{
   padding-top: 1cm;
}
#span{
    padding-top: 1cm;
}
h4,h2{
    display: flex;
}
